<!-- <div id="show"> -->
<%= image_tag(@kit.pic, :height => '500px') %>
<br>
<%= @kit.name %>
<br>
<br>
<%= link_to 'Delete', @kit, :method => :delete, :confirm => 'Okay to delete?' %>
<%= link_to 'Edit', edit_kit_path(@kit) %>
<br>
<!-- </div> -->



